.card {
  flex: 0 1 16%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3);
  padding: 10px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
}

.card-image {
  width: 100%;
  max-height: 300px;
}

.game-name {
  font-size: 18px;
  font-weight: bold;
  color: rgb(82, 84, 177);
  margin-bottom: 5px;
}

.game-release-date {
  color: black;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}

.game-platforms {
  font-size: 14px;
  color: rgb(82, 84, 177);
}

.fa-heart {
  float: right;
  color: grey;
  z-index: 1;
}

.fa-heart:hover {
  color: rgb(255, 119, 119)
}

.fa-heart:active {
  color: rgb(255, 59, 59)
}

.favorited {
  color: rgb(255, 59, 59)
}

@media (max-width: 1380px) {
  .card {
    flex: 0 1 24%;
  }
  .card-image {
    max-height: 400px;
  }
}

@media (max-width: 1024px) {
  .card {
    flex: 0 1 24%;
  }
  .card-image {
    max-height: 350px;
  }
}

@media (max-width: 768px) {
  .card {
    flex: 0 1 49%;
  }
  .card-image {
    max-height: 500px;
  }
}

@media (max-width: 480px) {
  .card {
    flex: 0 1 100%;
    display: block;
  }
  .card-image {
    max-height: 500px;
  }
}

@media (max-width: 320px) {
  .card {
    flex: 0 1 100%;
    display: block;
  }
  .card-image {
    max-height: 500px;
  }
}