.card {
  flex: 0 1 16%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3);
  padding: 10px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
}

.card-image-container {
  flex: 0 1 auto;
  margin-bottom: 10px;
  height: 300px;
  position: relative;
}

.card-image {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  margin: auto;
  top: 0;  
  bottom: 0;  
  left: 0;  
  right: 0; 
  position: absolute;
}

.game-name {
  font-size: 18px;
  font-weight: bold;
  color: rgb(82, 84, 177);
  margin: 10px 0;
}

.game-release-date {
  color: black;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}

.game-platforms {
  font-size: 14px;
  color: rgb(82, 84, 177);
}

.fa-heart {
  float: right;
  color: grey;
  z-index: 1;
}

.fa-heart:hover {
  color: rgb(255, 119, 119)
}

.fa-heart:active {
  color: rgb(255, 59, 59)
}

.favorited {
  color: rgb(255, 59, 59)
}

@media (max-width: 1380px) {
  .card {
    flex: 0 1 24%;
  }
}

@media (max-width: 1024px) {
  .card {
    flex: 0 1 24%;
  }
}

@media (max-width: 768px) {
  .card {
    flex: 0 1 49%;
  }
}

@media (max-width: 480px) {
  .card {
    flex: 0 1 100%;
    display: block;
  }
}

@media (max-width: 320px) {
  .card {
    flex: 0 1 100%;
    display: block;
  }
}