.game-page {
  margin: auto;
  padding-top: 20px;
  width: 700px;
}

.youtube-video {
  position: relative;
  overflow: hidden;
  padding-top: 56.25%;
}

iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.game-page-details {
  margin-top: 20px;
}

.game-page-title {
  font-size: 24px;
  font-weight: bolder;
  color: rgb(82, 84, 177);
  margin-bottom: 10px;
}

.game-page-release-date {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.game-page-platforms {
  font-size: 16px;
  font-weight: bold;
  color: rgb(82, 84, 177);
  margin-bottom: 10px;
}

.game-page-summary {
  padding: 10px;
  border: 2px solid rgb(160, 160, 160);
  border-radius: 10px;
  margin-bottom: 400px;
}

.game-page-no-summary {
  color: rgb(104, 104, 104);;
  padding: 10px;
  border: 2px solid rgb(160, 160, 160);
  border-radius: 10px;
  margin-bottom: 400px;
  font-style: italic;
}

@media (max-width: 1280px) {
  .game-page {
    width: 85%;
  }
}

@media (max-width: 980px) {
  .game-page {
    width: 90%;
  }
}

@media (max-width: 480px) {
  .game-page {
    width: 95%;
  }
}