.game-grid-parent {
  max-width: 1400px;
  margin: auto;
  overflow-y: auto;
}

.game-grid-parent-favorite {
  max-width: 1400px;
  margin: auto;
  padding-bottom: 40px;
  overflow-y: auto;
}

.game-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
