* {
  box-sizing: border-box;
  margin: 0;
}

body {
  padding: 0;
  font-family: 'Oleo Script Swash Caps', cursive;
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}

/* Button Styling*/

button {
  font-weight: bold;
  font-size: 12px;
  margin-top: 10px;
  padding: 5px 10px;
  color: white;
  background-color: rgb(132, 134, 245);
  border: 0;
  margin-right: 2px;
}

button:hover {
  background-color: rgb(105, 106, 212);
}

button:active {
  background-color: rgb(74, 76, 175);
}

.form-error {
  font-weight: bold;
  font-size: 14px;
  color: rgb(216, 71, 71);
}

input {
  margin-top: 5px;
  margin-bottom: 20px;
}