* {
  box-sizing: border-box;
  margin: 0;
}

body {
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}

.form-header {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
  color: rgb(82, 84, 177); 
}

/* Console Classes */
.PS4, .PS3, .PSVR, .PSN {
  background-color: rgb(111, 154, 233);
}

.XB1, .XBLA {
  background-color: rgb(107, 180, 103);
}

.Switch {
  background-color: rgb(223, 106, 106);
}

.PS4:hover, .PS3:hover, .PSVR:hover, .PSN:hover {
  background-color: rgb(154, 185, 241);
}

.XB1:hover, .XBLA:hover {
  background-color: rgb(138, 224, 134);
}

.Switch:hover {
  background-color: rgb(241, 141, 141);
}

.PS4:active, .PS3:active, .PSVR:active, .PSN:active {
  background-color: rgb(111, 154, 233);
}

.XB1:active, .XBLA:active {
  background-color: rgb(107, 180, 103);
}

.Switch:active {
  background-color: rgb(223, 106, 106);
}


/* Button Styling*/

button {
  font-weight: bold;
  font-size: 12px;
  margin-top: 10px;
  padding: 5px 10px;
  color: white;
  background-color: rgb(132, 134, 245);
  border: 0;
  margin-right: 2px;
}


button:hover {
  background-color: rgb(105, 106, 212);
}

button:active {
  background-color: rgb(74, 76, 175);
}

.form-error-message {
  color: rgb(209, 104, 104)(93, 96, 230);
}

input {
  margin-top: 5px;
  margin-bottom: 20px;
}